.wrapper-fullscreen {
	padding: 40px 0px !important;
}

.navbar-brand {
	text-align: center;
}

.top-navigation .navbar-brand {
	padding: 5px 25px;
}

.navbar-brand small {
	font-size: 9pt;
}

.block-center {
	width: 100%;
	text-align: center;
}

.image-user {
	width: 50%;
	margin: 0 auto;
}
