<div class="row">
	<div class="col-md-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
            	<span class="label label-success pull-right"><i class="fa fa-tasks"></i></span>
                <h5>Projetos</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">20</h1>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
            	<span class="label label-info pull-right"><i class="fa fa-users"></i></span>
                <h5>Membros</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">50</h1>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
            	<span class="label label-primary pull-right"><i class="fa fa-file-code-o"></i></span>
                <h5>Commits</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">500</h1>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div>
                    <h3 class="font-bold no-margins">
                        Atividades
                    </h3>
                </div>

                <div class="m-t-sm">

                    <div class="row">
                        <div class="col-md-12">
                            <div>
                            <canvas id="lineChart" height="114"></canvas>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="m-t-md">
                    <small class="pull-right">
                        <i class="fa fa-clock-o"> </i>
                        Atualizado em 14.07.2015
                    </small>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="row">

	<div class="col-lg-4">
        <div class="contact-box">
            <a href="profile.html">
            <div class="col-sm-4">
                <div class="text-center">
                    <img alt="image" class="img-circle m-t-xs img-responsive" src="img/a2.jpg">
                    <div class="m-t-xs font-bold">1</div>
                </div>
            </div>
            <div class="col-sm-8">
                <h3><strong>Rudolfo Borges</strong></h3>
                <p><i class="fa fa-map-marker"></i> 55 commits</p>
                <address>
                    <strong>Projetos</strong><br>
                    Aaaaaaa<br>
                    Bbbbbb<br>
                    Ccccccc<br>
                    ...<br>
                </address>
            </div>
            <div class="clearfix"></div>
                </a>
        </div>
    </div>

</div>

