<div id="wrapper">
<div id="page-wrapper" class="gray-bg">
    <div class="row border-bottom white-bg">
        <nav class="navbar navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                    <i class="fa fa-reorder"></i>
                </button>
                <a href="/#!/" class="navbar-brand"><i class="fa fa-bar-chart"></i> Gitlab Metric Dashboard</a>
            </div>
            <div class="navbar-collapse collapse" id="navbar">
        <ul class="nav navbar-nav">
            <li class="active">
                <a aria-expanded="false" role="button" href="/#!/dashboard/home">Home</a>
            </li>
            <li class="dropdown">
                <a aria-expanded="false" role="button" class="dropdown-toggle" data-toggle="dropdown">Ranking <span class="caret"></span>
                    <ul role="menu" class="dropdown-menu">
                        <li><a href="/#!/dashboard/ranking/users">Users Ranking</a></li>
                        <li><a href="/#!/dashboard/ranking/projects">Projects Ranking</a></li>
                    </ul>
                </a>
            </li>
            <li class="dropdown">
                <a aria-expanded="false" role="button" class="dropdown-toggle" data-toggle="dropdown">Projects <span class="caret"></span></a>
                <ul role="menu" class="dropdown-menu">
                    <li ng-repeat="project in projects"><a href="">{{project.name}}</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <a href="login.html">
                    <i class="fa fa-sign-out"></i> Admin
                </a>
            </li>
        </ul>
    </div>
        </nav>
    </div>
    <div class="wrapper wrapper-content">
        <div class="container">
			<div ui-view="contentView"></div>
        </div>
    </div>
        <div class="footer fixed">
            <div>
                <strong>Copyright</strong> TreeMobi &copy; 2015
            </div>
        </div>

    </div>
</div>

