<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Gitlab Dashboard</title>

	<link rel="stylesheet" href="lib/normalize.css/normalize.css">
	<link rel="stylesheet" href="lib/animate.css/animate.min.css">
	<link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="lib/fontawesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/main.css" rel="stylesheet">
	
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script type="text/javascript" src="lib/angular/angular.min.js"></script>
	<script type="text/javascript" src="lib/angular-ui-router/release/angular-ui-router.min.js"></script>

	 <!-- build:js assets/js/app.min.js -->
    <script src="angular.app.js"></script>
    <script src="angular.routes.js"></script>
    <script src="directives/google.charts.js"></script>
    <script src="controllers/dashboard.controller.js"></script>
    <script src="controllers/home.controller.js"></script>
    <script src="controllers/user.ranking.controller.js"></script>
    <!-- endbuild -->
</head>
<body ng-app="app">
	
	<body class="top-navigation pace-done fixed-nav">

        <ui-view></ui-view>
		
        <script src="lib/jquery/dist/jquery.min.js"></script>
    	<script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    	<script src="assets/js/metisMenu/jquery.metisMenu.js"></script>
    	<script src="assets/js/slimscroll/jquery.slimscroll.min.js"></script>
    	<script src="assets/js/inspinia.js"></script>
    	


</body>
</html>