<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>GitDash - Gitlab Metric Dashboad</title>

	<link rel="stylesheet" href="lib/normalize.css/normalize.css">
	<link rel="stylesheet" href="lib/animate.css/animate.min.css">
	<link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="lib/fontawesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="assets/css/style.css" rel="stylesheet">
  <link href="assets/css/main.css" rel="stylesheet">

	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script type="text/javascript" src="lib/angular/angular.min.js"></script>
	<script type="text/javascript" src="lib/angular-ui-router/release/angular-ui-router.min.js"></script>

	 <!-- build:js assets/js/app.min.js -->
    <script src="angular.app.js"></script>
    <script src="angular.routes.js"></script>
    <script src="directives/google.charts.js"></script>
    <script src="controllers/dashboard.controller.js"></script>
    <script src="controllers/home.controller.js"></script>
    <script src="controllers/user.ranking.controller.js"></script>
    <script src="controllers/project.ranking.controller.js"></script>
		<script src="controllers/project.profile.controller.js"></script>
		<script src="controllers/user.profile.controller.js"></script>
		<script src="controllers/user.award.controller.js"></script>
		<script src="controllers/project.award.controller.js"></script>
    <!-- endbuild -->
</head>
<body ng-app="gitdash">

	<body class="top-navigation pace-done fixed-nav">
        <div id="wrapper">
            <div id="page-wrapper" class="gray-bg">
                <div class="row border-bottom white-bg">
                    <nav class="navbar navbar-fixed-top" role="navigation">
                        <div class="navbar-header">
                            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                                <i class="fa fa-reorder"></i>
                            </button>
                            <a href="/#!/dashboard/home" class="navbar-brand"><i class="fa fa-bar-chart"></i> GitDash <br> <small>Gitlab Metric Dashboard</small></a>
                        </div>
                        <div class="navbar-collapse collapse" id="navbar">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a aria-expanded="false" role="button" href="/#!/dashboard/home">Home</a>
                        </li>
                        <li class="dropdown">
                            <a aria-expanded="false" role="button" class="dropdown-toggle" data-toggle="dropdown">Ranking <span class="caret"></span>
                                <ul role="menu" class="dropdown-menu">
                                    <li><a href="/#!/dashboard/ranking/users">User</a></li>
                                    <li><a href="/#!/dashboard/ranking/projects">Project</a></li>
                                </ul>
                            </a>
                        </li>
												<li class="dropdown">
                            <a aria-expanded="false" role="button" class="dropdown-toggle" data-toggle="dropdown">Trophies <span class="caret"></span>
                                <ul role="menu" class="dropdown-menu">
                                    <li><a href="/#!/dashboard/awards/user">User</a></li>
                                    <li><a href="/#!/dashboard/awards/project">Project</a></li>
                                </ul>
                            </a>
                        </li>
                        <!--<li>
                            <a aria-expanded="false" role="button">Users</a>
                        </li>
                        <li>
                            <a aria-expanded="false" role="button" >Projects</a>
                        </li>-->
                    </ul>
                    <!--<ul class="nav navbar-top-links navbar-right">
                        <li>
                            <a href="login.html">
                                <i class="fa fa-sign-out"></i> Admin
                            </a>
                        </li>
                    </ul>-->
                </div>
                    </nav>
                </div>
                <div class="wrapper wrapper-content">
                    <div class="container">
                        <ui-view></ui-view>
                    </div>
                </div>
                    <div class="footer fixed">
                        <div>
                            <strong>Copyright</strong> TreeMobi &copy; 2015
                        </div>
                    </div>

                </div>
            </div>



        <script src="lib/jquery/dist/jquery.min.js"></script>
    	<script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    	<script src="assets/js/metisMenu/jquery.metisMenu.js"></script>
    	<script src="assets/js/slimscroll/jquery.slimscroll.min.js"></script>
    	<script src="assets/js/inspinia.js"></script>



</body>
</html>
